################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatServer/bin/Debug/net8.0
/ChatServer/obj/Debug/net8.0
/ChatServer/obj
/ClientChat/bin/Debug/net8.0
/ClientChat/obj
